.search-wrapper{
    margin: 0 auto;
    margin-top: 30px;
}
#pokemon-name-search{
    width: 500px;
    border-radius: 5px;
    background-color: beige;
    padding: 1.5rem;
}
input::placeholder{
    font-size: 1.25rem;
}
.search{
    border: none;
    border-radius: 5px;
    background-color: cyan;
    padding: 1rem;
    margin-left: 5px;
    font-weight: bold;
    color:black;
}
.search:hover{
    padding: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
}